#
config.php
mapsconfig.js
setup.php
sample.txt
doc/ignore/*
doc/GPSTrackerServer.toc
doc/GPSTrackerServer.synctex.gz
doc/GPSTrackerServer.out
doc/GPSTrackerServer.log
doc/GPSTrackerServer.fls
doc/GPSTrackerServer.fdb_latexmk
doc/GPSTrackerServer.aux
