.table-fixed thead {
  width: 98.7%;
}
.inputHeader{width:100%}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.item{
  cursor: pointer;
}

.active td{
  background: rgb(151, 151, 151);
}

.item:hover > td{
  background: rgb(219, 219, 219);
}

#map{
  height: 60vh;
}