/* 
 *  Contains some design/style description
 */

/* table properties */
.table-fixed thead {
  width: 98.7%;
}
.inputHeader{width:100%}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
  overflow: hidden;
}
.data_item{
  cursor: pointer;
}
.data_item:hover{
  background: rgb(219, 219, 219);
}
.active{
  background: rgb(151, 151, 151);
}

/* Google maps map size */
#map{
  height: 60vh;
}